{{template "header" .}}

<h1>FAQ Page</h1>
  <ul>
	<li>
	  <b>Questions 1?</b>
	  Answer 1.
	</li>
	<li>
	  <b>Question 2?</b>
	  Answer 2
	</li>
	<li>
	  <b>Question 3?</b>
	  Answer 3
	</li>
  </ul>

  {{template "footer" .}}