{{template "header" .}}

<div class="flex items-center justify-center h-screen bg-gray-100">
  <h1 class="text-8xl font-extrabold tracking-tight text-center bg-gradient-to-r from-blue-900 to-purple-900 bg-clip-text text-transparent drop-shadow-2xl">
    Welcome to Pixvault!
  </h1>
</div>

{{template "footer" .}}
